<div><app-header [payload]="payload2" [url]="url" /></div>
<app-banner ></app-banner>
<span style="align-text:center;padding-left:50px;position:absolute; left:600px;">Based on your permissions , you can access the below apps</span>
<div class="icon-cont">
  <a routerLink="/facilityhome"  *ngIf="payload?.obj?.includes('facility')">
    <div class="icon calling"></div>
  </a>
  <a routerLink="/adminhome" *ngIf="payload?.obj?.includes('admin')">
    <div class="icon texting"></div>
  </a>
  <a routerLink="/facilityhome" *ngIf="payload?.obj?.includes('physician')">
    <div class="icon gaming"></div>
  </a>
  <a routerLink="/facilityhome" *ngIf="payload?.obj?.includes('hybrid')">
    <div class="icon shopping"></div>
  </a>
 
</div>
